:root {
    --back-color: #81899b;
    --primary-color: #f9ffee;
    --header-back: #1a1d24;
    --header-text: #eee;
  }
  
  .main {
    background-color: var(--back-color);
    color: var(--primary-color);
  }
  