
  .main {
    background-color:  #FFFFFF;
    
  }
  
  
  
  .btn_name{
    color:#000 ;
  }

  a{
    border: 1px solid #F3F3F3;
  }

  a:hover{
    border: 1px solid #F3F3F3;
    background: #F3F3F3;
  }

  a:active{
    border: 1px solid #F3F3F3;
    background: #EBEBEB;

  }